[submodule "tools/mediumexporter"]
	path = tools/mediumexporter
	url = git@github.com:xdamman/mediumexporter.git
[submodule "mocha-shared-behaviors/demo"]
	path = mocha-shared-behaviors/demo
	url = git@github.com:noelmace/mocha-shared-behaviors.git
